Phase1/Data/
Phase1/TrainModel/DeepLearning/VGG/vgg1_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/VGG/vgg2_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/ResNet/Train_result/resnet1_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/ResNet/Train_result/resnet2_best_slice_datav1_traintoplayer.keras
Phase1/TrainModel/DeepLearning/ResNet/Train_result/resnet2_best_slice_datav1_traintoplayer.txt
Phase1/TrainModel/DeepLearning/ResNet/Train_result/resnet2_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/ResNet/Train_result/Train_ResNet1_slice_datav1_history.txt
Phase1/TrainModel/DeepLearning/ResNet/resnet2_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/ResNet/slice_datav2_vgg2_model_trainalllayer_history.txt
Phase1/TrainModel/VGG_patchleveldata/vgg_avg_pool_1024.keras
Phase1/TrainModel/VGG_patchleveldata/vgg_avg_pool.keras
Phase1/TrainModel/DeepLearning/VGG/vgg0_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/VGG/vgg0.1_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/VGG/Train_result/vgg0.1_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/VGG/Train_result/vgg1_best_slice_datav1.keras
Phase1/TrainModel/DeepLearning/VGG/Train_result/vgg2_best_slice_datav1.keras
Phase1/TrainModel/VGG_patchleveldata/resnet1_use_flatten_best_slice_datav1.keras
Phase1/Report/ThyroidCancerReport.mp4
Phase1/Model/
Phase1/temp/



Phase2/Data/
Phase2/TrainModel/
Phase2/TestModel/
# the virtual environment for training model
# python -m venv myenv
# source myenv/bin/activate  # Trên Windows: myenv\Scripts\activate # myenv == train_model
